<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTalents - Cadastro</title>
    <link rel="stylesheet" href="/inicio.css">
    <link rel="stylesheet" href="/presentation.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div id="signup">
            <%- include(`./parts/${part}`) %>
        </div>
        <div id="welcome">
            <div class="subclass">
                <h2>Qual área você mais se identifica?</h2>
                <div class="areas">
                    <input type="radio" id="FE" name="Front-end" value="frontend"
                            checked>
                    <label for="FE">Front-end</label>

                    <input type="radio" id="BE" name="Back-end" value="backend">
                    <label for="BE">Back-end</label>
        
                    <input type="radio" id="FS" name="Full Stack" value="fullStack">
                    <label for="FS">Full Stack</label>

                    <input type="radio" id="SC" name="Segurança" value="segurança">
                    <label for="SC">Segurança</label>

                    <input type="radio" id="IF" name="Arquitetura" value="infraestrutura">
                    <label for="IF">Infraestrutura</label>
            </div>

            <div class="myStacks">
                
            </div>

            </div>
            <footer>
                <a href="#">Sobre nós</a> • <a href="#">Politica de privacidade</a>
            </footer>
        </div>
    </main>
</body>
<script>

Stacks = {}

function SelectStacks(){
    if(this.classList.contains("MARKED")){
        this.classList.remove("MARKED")
        this.checked = false
        delete Stacks[`${this.value}`]
        mystacks.innerHTML -= loadAreas.frontend()
    }else{
        this.classList.add("MARKED")
        Stacks[`${this.value}`] = {}
        mystacks.innerHTML += loadAreas.frontend()
    }
    console.log(Stacks)
}

const loadAreas = {
    frontend: function(){
        return '<%- include(`./parts/frontend`) %>'
    }
}



let frontend = document.getElementById('FE').addEventListener("click", SelectStacks)
let backend = document.getElementById('BE').addEventListener("click", SelectStacks)
let fullstack = document.getElementById('FS').addEventListener("click", SelectStacks)
let security = document.getElementById('SC').addEventListener("click", SelectStacks)
let infra = document.getElementById('IF').addEventListener("click", SelectStacks)
let mystacks = document.querySelector('.myStacks')
</script>
</html>