<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTalents - Cadastro</title>
    <link rel="stylesheet" href="/inicio.css">
    <link rel="stylesheet" href="/presentation.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div id="signup">
            <div id="error"><%=error%></div>
            <%- include(`./parts/signup/${step}`) -%>
        </div>
        <div id="welcome">
            <div class="subclass">
                <h2>Quais tecnologias você domina?</h2>
                <div class="areas">
                    <input type="text" placeholder="Expresse suas skills" id="skills">
                    <input type="button" id="addSkills" value="adicionar">
            </div>

            <div class="myStacks"></div>

            </div>
            <%- include('./parts/footer')%>
        </div>
    </main>
</body>
<script>

let Stacks = []
let skills = document.getElementById('skills')
let addSkills = document.getElementById('addSkills')
let myStacks = document.querySelector('.myStacks')

const modifyPage = ()=>{
    Stacks.push(skills.value)
        skills.value = ''
        myStacks.innerHTML = ''
        for(x in Stacks){
            myStacks.innerHTML += `<p id="stackSelect">${Stacks[x]}</p>`
        }
}

addSkills.addEventListener("click", ()=>{
    modifyPage()
})

skills.addEventListener("keypress", function(e){
    if(e.key === 'Enter'){
        modifyPage()
    }
})




</script>
</html>