#signup{
    border-radius: 6px 0px 0px 6px;
    width: 35%;
}

textarea{
    width: 17rem;
    height: 13rem;
    padding: .3rem;
}

main{
    background: white;
}

#welcome{
    flex-direction: column;
    justify-content: space-between;
}

.areas{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.subclass{
    display: flex;
    flex-direction: column;
}


label{
    font-size: 1rem;
    margin-right: .7rem;
    margin-left: .3rem;
}

.stackSelect{
    display: inline-block;
    color: white;
    border-radius: 6px;
    background: grey;
    width: max-content;
    padding: 3px;
    margin: 8px;
    cursor: pointer;
}

input{
    height: 3rem;
}

h2{
    margin: .5rem;
}

input#addSkills{
    color: white;
    width: max-content;
    margin-left: .5rem;
    background: rgb(19, 26, 45);
    height: 3rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }
    #welcome{
        display: block;
        background: #d8e0ed;
        width: 100vw;
    }
    #signup{
        width: 100vw;
        background: white;
    }
    label{
        font-size: .7rem;
    }
}