<link rel="stylesheet" href="/signup.css">
<img src="#" id="photo">
<p>Qual o seu nome?</p>
<form action="/signup/finish" method="POST">
<input type="text" placeholder="Nome" name="name" id="name">
<input type="text" placeholder="Sobrenome" name="sobrenome" id="lastname">
<input type="text" placeholder="Cidade e Estado" name="adress" id="adress">
<input type="text" placeholder="Email" name="email" id="email"><br>
<input type="submit" value="Próximo" id="next">
</form>
<script src="/signup/script.js"></script>
<script>
    onload = ()=>{
    photo.setAttribute('src', `https://avatars.githubusercontent.com/${localStorage.getItem('user')}`)
}

    function VerifyLabels(){
    if(firstname.value != '' && lastname.value != '' && adress.value != '' && email.value != ''){
        BNext.allow()
        next.addEventListener("click", ()=>{
            localStorage.setItem('name', firstname.value)
            localStorage.setItem('lastname', lastname.value)
            localStorage.setItem('adress', adress.value)
            localStorage.setItem('email', email.value)
        })
    }else{
        BNext.block()
    }
}

    firstname.addEventListener("keyup", function(){
        console.log(firstname.value)
        this.value = LabelCorretor(this.value)
        VerifyLabels()
    })
    lastname.addEventListener("keyup", function(){
        this.value = LabelCorretor(this.value)
        VerifyLabels()
    })
    email.addEventListener("keyup", ()=>{
        VerifyLabels()
    })
    

</script>
